body {
  overflow-x: hidden;
  color: #333333;
}

.hor {
  border: 0.00001em solid #dddddd;
  background-color: #dddddd;
  margin: 0.4% 0;
}

body {
  margin-top: 0;
}

ul {
  padding-left: 5%;
}

a {
  text-decoration: none;
  color: black;
}

.parent {
  margin: 0.5% 2% 0.3% 20%;
  border-top: 0.5px solid #dddddd;
  font-size: 0.9vw;
  font-family: 'Domine', serif;
  line-height: 110%;
  font-weight: 500;
  text-align: justify;
}

.float-img {
  float: right;
}

.upper {
  background-color: white;
  /* position: sticky; */
  top: 0;
}

.heading {
  display: grid;
  grid-template-columns: 90% 5% 5%;
  margin-left: 2%;
}

.top {
  font-family: 'Arial', sans-serif;
  font-size: 0.8vw;
  color: #333333;
}

.top:first-child {
  font-family: 'Viaoda Libre';
  font-weight: bolder;
  font-size: 1.5vw;
  padding-left: 25%;
  text-align: center;
}

.top:nth-child(2) {
  border-right: 0.5px solid #dddddd;
  padding: 10% 10% 0 0;
  text-align: center;
}

.top:last-child {
  padding-top: 10%;
  text-align: center;
}

.top:nth-child(2):hover {
  color: #2978b5;
}

.top:last-child:hover {
  color: #2978b5;
}

.nav-tab {
  display: grid;
  grid-template-columns: 95% 5%;
  margin-left: 13%;
  font-family: 'Arial', sans-serif;
  font-size: 0.8vw;
}

.nav-content {
  padding-left: 20%;
}

.nav-search span {
  padding-right: 5%;
}

.nav-content span {
  margin: 0 0.8%;
  transition: transform .2s;
}

.nav-content span:hover {
  color: black;
  transform: scale(1.02);
  font-weight: bold;
}

.flex-box {
  display: flex;
  margin-top: 1%;
}

.flexi1, .flexi2, .flexi3, .flexi4 {
  margin-right: 0.4%;
  border-right: 1px solid #dddddd;
  text-align: left;
  padding: 0 0.8% 0.2% 0.4%;
  transition: transform .2s;
}

.flexi1 div, .flexi2 div, .flexi3 div, .flexi4 div {
  border-bottom: 1px solid #dddddd;
}

.flexi1 {
  flex: 0 1 170%;
}

.flexi2 {
  flex: 0 1 200%;
}

.flexi3 {
  flex: 0 1 140%;
}

.flexi4 {
  border-right: 0 solid white;
  flex-basis: 190%;
}

.div1 {
  width: 40%;
  height: 90%;
  margin: 5% auto;
  background-color: #bfbfbf;
  position: relative;
}

.div2 {
  width: 4px;
  height: 4px;
  border: 1px solid #595959;
  background-color: #595959;
  transform: rotate(45deg);
  position: absolute;
  bottom: -3.5px;
  left: 50%;
}

.hov {
  font-family: 'Source Serif Pro', serif;
}

.news {
  padding-top: 1.6%;
}

.change {
  text-align: center;
  width: 26vw;
  height: 60%;
  padding-top: 3%;
  margin: auto;
  font-size: 1.5vw;
  border-bottom: 0 solid white;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  line-height: 105%;
}

/* .on-hover:hover {
  transform: scale(1.05);
  background-color: white;
} */
.opinion p {
  font-size: 110%;
  font-weight: 900;
  margin-bottom: 3px;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

.opinion i {
  font-weight: lighter;
  font-size: 100%;
  font-style: italic;
  font-family: "Lora"cursive;
}

.hov:hover {
  color: #1a7ee3f2;
}

.hove {
  style=font-size: 160%;
  color: #4e3620;
  font-weight: 600;
  line-height: 90%;
  margin-top: 1%;
}

.hove:hover {
  color: #1a7ee3f2;
}

.clock {
  padding-left: 2%;
  height: 3%;
  width: 5%;
}

.min {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: lighter;
  color: #595959;
}
